
.Facts-body {
  background-color: #121418;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Facts-buttons {
  flex-direction: row;
}

.Facts-button {
  background-color: #b36a17;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}
