.Header {
  text-align: center;
}

.Header-cat {
  margin-top: 2%;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Header-cat {
    animation: App-cat-spin infinite 30s linear;
  }
}

.Header-body {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-link {
  margin-top: 2%;
  color: #61dafb;
}

@keyframes Header-cat-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
